<ul class="pager">
  <li class="pager-first first"><a title="Go to first page" href="#">« first</a></li>
  <li class="pager-previous"><a title="Go to previous page" href="#">‹ previous</a></li>
  <li class="pager-item"><a title="Go to page 1" href="#">1</a></li>
  <li class="pager-current">2</li>
  <li class="pager-item"><a title="Go to page 3" href="#">3</a></li>
  <li class="pager-item"><a title="Go to page 4" href="#">4</a></li>
  <li class="pager-next"><a title="Go to next page" href="#">next ›</a></li>
  <li class="pager-last last"><a title="Go to last page" href="#">last »</a></li>
</ul>
